---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitlab-runner-internal
  namespace: development
spec:
  interval: 15m
  chart:
    spec:
      chart: gitlab-runner
      version: 0.77.0
      sourceRef:
        kind: HelmRepository
        name: gitlab
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      registry: registry.gitlab.com
      image: gitlab-org/gitlab-runner
      tag: alpine-v18.6.1
    replicas: 1
    imagePullSecrets:
      - name: harbor-registry-secret
    podAnnotations:
      reloader.stakater.com/search: "true"
    gitlabUrl: https://gitlab.${SECRET_DOMAIN}
    rbac:
      create: true
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    service:
      enabled: true
    runners:
      executor: kubernetes
      runUntagged: true
      secret: gitlab-runner-internal-secret
      config: |
        [[runners]]
          name = "internal-gitlab-runner"
          executor="kubernetes"
          [runners.kubernetes]
            # Run all containers with the privileged flag enabled.
            image_pull_secrets=["harbor-registry-secret"]
            image = "docker:latest"
    unregisterRunners: true
    concurrent: 2
    securityContext:
      allowPrivilegeEscalation: true
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      privileged: true
      capabilities:
        drop: ["ALL"]
