---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitlab-runner-internal
  namespace: development
spec:
  interval: 15m
  chart:
    spec:
      chart: gitlab-runner
      version: 0.77.0
      sourceRef:
        kind: HelmRepository
        name: gitlab
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      registry: registry.gitlab.com
      image: gitlab-org/gitlab-runner
      tag: alpine-v18.6.2
    replicas: 2
    imagePullSecrets:
      - name: harbor-registry-secret
    podAnnotations:
      reloader.stakater.com/search: "true"
    gitlabUrl: https://gitlab.${SECRET_DOMAIN}
    rbac:
      create: true
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    service:
      enabled: true
    runners:
      name: "internal-gitlab-runner"
      executor: kubernetes
      runUntagged: true
      secret: gitlab-runner-internal-secret
      cache:
        secretName: gitlab-runner-r2cache
      config: |
        [[runners]]
          [runners.kubernetes]
            privileged = true
            image_pull_secrets=["harbor-registry-secret", "master-artifact-registry-secret"]
            service_account = "gitlab-runner-internal"
          [[runners.kubernetes.volumes.secret]]
            name = "master-artifact-registry-secret"
            mount_path = "/run/registry-auth"
            read_only = true
          [runners.cache]
            Type = "s3"
            Path = "runner"
            Shared = true
            [runners.cache.s3]
              ServerAddress = "https://10dc9276173a3ea25ef1e0d77b69f3ae.r2.cloudflarestorage.com"
              BucketName = "gitlab-runner-cache"
              BucketLocation = "apac"
              Insecure = false
              AuthenticationType = "access-key"
    unregisterRunners: true
    concurrent: 10
