---
apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: harbor-registry-external-secret
  namespace: default
spec:
  namespaceSelector:
    matchLabels:
      cluster-secret.home.arpa/harbor-registry: true
  externalSecretSpec:
    secretStoreRef:
      kind: ClusterSecretStore
      name: onepassword-connect
    target:
      name: harbor-registry-secret
      creationPolicy: Owner
      template:
        type: kubernetes.io/dockerconfigjson
    dataFrom:
      - extract:
          key: harbor-registry-secret
