---
apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: master-artifact-registry-external-secret
  namespace: default
spec:
  namespaceSelector:
    matchLabels:
      cluster-secret.home.arpa/master-artifact-registry: "true"
  externalSecretSpec:
    secretStoreRef:
      kind: ClusterSecretStore
      name: onepassword-connect
    target:
      name: master-artifact-registry-secret
      creationPolicy: Owner
      template:
        type: kubernetes.io/dockerconfigjson
    dataFrom:
      - extract:
          key: master-artifact-registry-secret
