---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: discord-watcher-server
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controller:
      replicas: 1
      strategy: Recreate
      annotations:
        reloader.stakater.com/search: "true"
    image:
      repository: ${SECRET_REGISTRY_DOMAIN}/gitlab-llim/ldev/go/standard/discord-watcher-server
      pullPolicy: Always
      tag: "latest"
    imagePullSecrets:
      - name: harbor-registry-secret
    service:
      main:
        ports:
          http:
            port: 8082
    envFrom:
      - secretRef:
          name: discord-watcher-server-secrets
