---
apiVersion: v1
kind: Namespace
metadata:
  name: development
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
    cluster-secret.home.arpa/harbor-registry: "true"
    cluster-secret.home.arpa/master-artifact-registry: "true"
