---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zitadel
  namespace: authentication
spec:
  interval: 5m
  chart:
    spec:
      chart: zitadel
      version: 9.13.0
      sourceRef:
        kind: HelmRepository
        name: zitadel
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/zitadel/zitadel
      tag: v4.7.0@sha256:06d77bfb26d50772de46cba8efb9b157d3f26ab9fa66d62dacf383322a6b2ef1
    setupJob:
      machinekeyWriter:
        image:
          tag: 1.32.3
    zitadel:
      configmapConfig:
        FirstInstance:
          Org:
            Machine:
              Machine:
                Username: zitadel-iac-admin-sa
                Name: Admin
              MachineKey:
                Type: 1
        ExternalDomain: zitadel.${SECRET_EXT_DOMAIN}
        TLS:
          Enabled: false
      masterkeySecretName: dev-zitadel-masterkey-secret
    login:
      enabled: true
      ingress:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: "ingress.${SECRET_DOMAIN}"
          external-dns.home.arpa/enabled: "true"
        hosts:
          - host: &host zitadel-ui.${SECRET_EXT_DOMAIN}
            paths:
              - path: /ui/v2/login
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: dev-zitadel-tls
    env:
      - name: ZITADEL_DATABASE_POSTGRES_HOST
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_HOST
      - name: ZITADEL_DATABASE_POSTGRES_DATABASE
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_DB
      - name: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_USER
      - name: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_PASS
      - name: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_ADMIN_USER
      - name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: dev-zitadel-secret
            key: POSTGRES_ADMIN_PASS

    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
        nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
        nginx.ingress.kubernetes.io/configuration-snippet: |
          grpc_set_header Host $host;
        external-dns.alpha.kubernetes.io/target: "ingress.${SECRET_DOMAIN}"
        external-dns.home.arpa/enabled: "true"
      hosts:
        - host: &host zitadel.${SECRET_EXT_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: dev-zitadel-tls
    resources:
      limits:
        cpu: 1
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 512Mi
