---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr-cache
  namespace: media-downloaders
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 15Gi
  storageClassName: ceph-block
