---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      annotations:
        reloader.stakater.com/search: "true"
    image:
      repository: cloudflare/cloudflared
      tag: latest
    args:
      - tunnel
      - --config
      - /etc/cloudflared/config/config.yaml
      - run

    ingress:
      main:
        enabled: false
    service:
      main:
        enabled: false
        ports:
          http:
            enabled: false
            port: 55555

    persistence:
      config:
        enabled: true
        type: configMap
        name: cloudflared-config
        subPath: config.yaml
        mountPath: /etc/cloudflared/config/config.yaml
        readOnly: true
      # By default, the credentials file will be created under ~/.cloudflared/<tunnel ID>.json
      # when you run `cloudflared tunnel create`. You can move it into a secret by using:
      # ```sh
      # kubectl create secret generic tunnel-credentials \
      # --from-file=credentials.json=/Users/yourusername/.cloudflared/<tunnel ID>.json
      # ```
      creds:
        enabled: true
        type: secret
        name: cloudflared-credentials
        mountPath: /etc/cloudflared/creds
