logger:
  default: info

auth:
  enabled: False
  trusted_proxies:
    - 192.168.0.0/24

mqtt:
  enabled: False

database:
  path: /data/frigate.db

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 15

record:
  enabled: true
  retain:
    days: 14
    mode: all

go2rtc:
  streams:
    e1pro:
      - rtsp://frigate:P12345678@192.168.42.20:554/Preview_01_main
      - ffmpeg:e1pro#audio=aac
  webrtc:
    candidates:
      - 192.168.0.210:8555
      - stun:8555

cameras:
  # --
  e1pro:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/e1pro
          input_args: preset-rtsp-restream
          roles:
            - record
      output_args:
        record: preset-record-generic-audio-aac
    live:
      stream_name: e1pro
    onvif:
      host: 192.168.42.20
      port: 8000
      user: frigate
      password: P12345678
